<div class="{{overallBuildStatus}} tile tile--small tile--build row">
  <div class="tile-status">
    <span class="icon icon-status {{overallBuildStatus}}"></span>
    <span class="request-kind {{kind}} icon"></span>
  </div>
  <div class="column tile-main medium-6">
    <h2>
      <small>{{title}}</small>
      <a href="{{detailViewURL}}">{{comment}}</a>
    </h2>
    <p class="tile-author"><img alt="" src="{{authorGravatarURL}}">{{authorName}} committed</p>
  </div>
  <div class="column tile-additional medium-6 end">
    <div class="column small-6">
      <p class="build-status">
        <a href="{{detailViewURL}}">
          <span class="icon icon-hash"></span>
              {{buildId}} {{overallBuildStatus}}
        </a>
      </p>
      <p>
        <a href="{{githubCommitURL}}" window="_blank">
          <span class="icon icon-github"></span>
            {{githubCommitNumber}}
        </a>
      </p>
    </div>
    <div class="column small-6">
      <p class="" title="{{totalSeconds}}">
        <span class="icon icon-clock"></span>
          {{totalRunningTime}}
      </p>
      <p class="" title="{{timeStarted}}">
          <span class="icon icon-cal"></span>
          {{timeStartedAgo}} ago
      </p>
    </div>
  </div>
</div>
