{{#if errors}}
<li class="tile tile--jobs row failed">
    <div class="tile-status tile-status--job">
      <span class="icon icon--job failed"></span>
    </div>

    <p class="jobs-item">
      {{#each errors}}
        {{this.message}}
      {{/each}}
    </p>
</li>
{{else}}
<li class="tile tile--jobs row {{runState}}">
  <a data-repoName="{{repoName}}" data-branch="{{branch}}" data-buildId="{{buildId}}" data-buildNumber="{{buildNumber}}">
    <div class="tile-status tile-status--job">
      <span class="icon icon--job {{runState}}"></span>
    </div>

    <p class="job-id jobs-item build-status">
      <span class="icon icon--hash-dark"></span>
        {{buildId}}.{{buildNumber}}
    </p>

    <p class="job-os jobs-item build-os linux">
      <span class="icon linux"></span>
    </p>

    <p class="job-lang jobs-item build-lang">
      <span class="icon icon--lang"></span>
      Node.js: {{nodeVersion}}
    </p>

    <div class="job-anchor jobs-item">
      <p class="job-env jobs-item build-env">
        <span class="icon icon--env"></span>
        {{matrix}}
      </p>

      <p class="job-duration jobs-item" title="{{runCreated}}">
        <span class="icon icon--clock-dark"></span>
        {{runTotalTime}}
      </p>
    </div>
  </a>
</li>
{{/if}}
