{{#if errors}}
<tr class="danger runRowItem" data-repoName="{{repoName}}" data-branch="{{branch}}" data-buildId="{{buildId}}" data-buildNumber="{{buildNumber}}">
  <td><span class="glyphicon glyphicon-exclamation-sign"></span></td>
  <td> - </td>
  <td> - </td>

  <td colspan="3">
    <p>
      {{#each errors}}
        {{this.message}}
      {{/each}}
    </p>
  </td>

  <td align="center">
    <span class="redoRun glyphicon glyphicon-retweet"></span>
  </td>
  <td></td>
  <td></td>

  <td> - </td>
</tr>
{{else}}
<tr class="{{runStateBootstrap}} runRowItem" data-repoName="{{repoName}}" data-branch="{{branch}}" data-buildId="{{buildId}}" data-buildNumber="{{buildNumber}}">

  <td>
    <span data-toggle="tooltip" title="{{state}}" class="glyphicon glyphicon-{{runStateIconBootstrap}}"></span>
  </td>

  <td>
    {{buildId}}.{{buildNumber}}
  </td>

  <td>
    {{nodeVersion}}
  </td>

  <td>
    <span class="redoRun octicon octicon-versions"></span>
    &nbsp;{{matrix}}
  </td>

  {{#ifrunning state}}
    <td></td>
    <td align="center">
      <span data-toggle="tooltip" title="cancel" class="cancelRun mega-octicon octicon-x"></span>
    </td>
    <td align="center">
    <span data-toggle="tooltip" title="SSH to host" class="sshRun mega-octicon octicon-terminal" onClick="window.open('/ssh/{{repoName}}/{{branch}}/{{buildId}}/{{buildNumber}}', '_blank', 'menubar=no,location=no,resizable=no,scrollbars=no,status=no,height=530,width=975'); return false"></span>
     </td>
  {{else}}
    <td align="center">
      <span data-toggle="tooltip" title="restart" class="redoRun glyphicon glyphicon-retweet"></span>
    </td>
    <td></td>
    <td></td>
  {{/ifrunning}}
  </td>

  <td>
    <span class="redoRun glyphicon glyphicon-time"></span>
    {{runTotalTime}}
  </td>
</tr>
{{/if}}
