<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Sivart</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://travis-ci-org.global.ssl.fastly.net/assets/travis-dd949bf9a74f9732154d48c33bd61764.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
      code, samp, kbd {
        font-family: "Courier New", Courier, monospace, sans-serif;
      }
      pre code {
        line-height: 1.6em;
        font-size: 14px;
      }
      pre {
        padding: 0.1em 0.5em 0.3em 0.7em;
        border-left: 11px solid #ccc;
        margin: 1.7em 0 1.7em 0.3em;
        width: 100%;
        color: lightgreen;
        background-color: black;
        white-space: pre-wrap;
        tab-size: 2;

      }
      * html pre { 
        padding-bottom: 2em;
      }
    </style>
</head>
<body>
<div class="container-fluid">

<h1>XCI {{repoName}}</h1>

<!--<div style="margin-left: 50px; margin-right: 50px; width: 70%">-->
<div class="row">
  <div class="col-md-2">
    <h4>Repos</h4>
    <ul class="list-unstyled">
      <li><a href="/angular/angular.js">angular/angular.js</a></li>
      <li><a href="/angular/angular">angular/angular</a></li>
      <li><a href="/zzo/angular.js">zzo/angular.js</a></li>
      <li><a href="/zzo/angular">zzo/angular</a></li>
    </ul>
  </div>
  <div class="col-md-10">
<div class="row">
<div class="col-md-2"><h4><a class="btn btn-default {{active_current}} lead" href="/{{repoName}}/">Current</a></h4></div>
<div class="col-md-2"><h4><a class="btn btn-default {{active_push}} lead" href="/{{repoName}}/push">Branches</a></h4></div>
<div class="col-md-2"><h4><a class="btn btn-default {{active_pull_requests}} lead" href="/{{repoName}}/pull_requests">Pull Requests</a></h4></div>
<div class="col-md-2"><h4><a id="buildId_crumb" href="#" style="display: {{crumbDisplay}}" class="btn btn-default active lead">Build #{{buildId}}</a></h4></div>
<div class="col-md-2"><h4><a id="buildNumber_crumb" href="#" style="display: none" class="btn btn-default active lead"></a></h4></div>
</div>
    {{{body}}}
  </div>
</div>

</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="/process_logs.js"></script>
<script src="/ansiparse.js"></script>
</body>
</html>
