<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Sivart</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://travis-ci-org.global.ssl.fastly.net/assets/travis-dd949bf9a74f9732154d48c33bd61764.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
      span.header: { float: left; }
    </style>
</head>
<body>
<div class="container-fluid">

<h1>{{repoName}} {{type}}</h1>

<div class="row">
<div class="col-md-2"><h4><a class="btn btn-default {{active_current}} lead" href="/{{repoName}}/">Current</a></h4></div>
<div class="col-md-2"><h4><a class="btn btn-default {{active_push}} lead" href="/{{repoName}}/push">Branches</a></h4></div>
<div class="col-md-2"><h4><a class="btn btn-default {{active_pull_requests}} lead" href="/{{repoName}}/pull_requests">Pull Requests</a></h4></div>
</div>
<!--
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Current</a></li>
    <li><a href="/{{repoName}}/push">Branches</a></li>
    <li><a href="/{{repoName}}/all">Build History</a></li>
    <li><a href="/{{repoName}}/pull_requests">Pull Requests</a></li>
  </ul>
  <div id="tabs-1">
    {{{body}}}
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
$("#tabs").tabs();
</script>
-->

<div style="margin-left: 50px; margin-right: 50px; width: 70%">
  {{{body}}}
</div>

</div>
</body>
</html>
