<div class="jumbotron" style="background-color:{{bootstrapHeaderColor}}; padding:20px;">
<div class="media">
  <div class="media-left">
    <a href="#">
      <img width=64 height=64 class="media-object" src="http://rocketeerbkw.github.io/slides/austin-linux-meetup/git/git-logo.png" alt="">
    </a>
  </div>
  <div class="media-body">
      <div class="row">
        <div class="col-md-8">
          <h4 class="buildTitle media-heading">{{comment}}</h4>
          <div>
            {{getBody}}
          </div>
          <div>
            <img width="32" height="32" src="{{authorGravatarURL}}">{{authorName}} authored and committed
          </div>
        </div>
        <div class="col-md-4">
      <ul style="list-style-type: none;">
        <li>
          <a href="{{detailViewURL}}">
          <span class="glyphicon glyphicon-paperclip"></span>&nbsp;{{build.buildData.id}} {{overallBuildStatus}}</a>
        </li>
        <li>
          <a class="commit" href="{{githubCommitURL}}">
          <span class="glyphicon glyphicon-send"></span>&nbsp;Commit {{githubCommitNumber}}</a>
        </li>
        <li>
          <a class="compare" href="{{compareURL}}">
          <span class="glyphicon glyphicon-tags"></span>&nbsp;{{compareText}}</a>
        </li>
        <li>
          <span class="glyphicon glyphicon-time"></span>&nbsp;{{runningOrRan}} for {{totalRunningTime}}
        </li>
        <li>
          <span class="glyphicon glyphicon-calendar"></span>&nbsp;{{timeStartedAgo}} ago
        </li>
      </ul>
        </div>
      </div>
  </div>
  <div>
  </div>
</div>
</div>

<div id="runData">
  {{>runsBootstrap}}
</div>


