<div class="tabbody repo-main">
  <div class="yellow">
    <section class="tile tile--pass row {{overallBuildStatus}}">
      <div class="tile-status">
        <span class="icon icon-status {{overallBuildStatus}}"></span>
        <span class="request-kind {{build.buildData.kind}} icon"></span>
      </div>

    <div class="tile-main medium-8 columns">
      <h2 class="repo-main-commit">
        <small class="repo-main-branch" title="{{comment}}">{{title}}</small>
        {{comment}}
      </h2>
      <div class="repo-main-description">
        {{getBody}}
      </div>
      <div class="tile-author">
         <img src="{{authorGravatarURL}}">{{authorName}} authored and committed
      </div>
    </div>

    <div class="tile-additional medium-4 columns end">
      <ul class="repo-main-info">
        <li class="repo-build-status">
          <a class="ember-view active" href="{{detailViewURL}}"><span class="icon icon--hash"></span>{{build.buildData.id}} {{overallBuildStatus}}</a>
        </li>
        <li>
          <a class="commit" href="{{githubCommitURL}}"><span class="icon icon--github"></span>Commit {{githubCommitNumber}}</a>
        </li>
        <li>
            <a class="compare" href="{{compareURL}}"><span class="icon icon--github"></span>{{compareText}}</a>
        </li>
        <li>
          <span class="icon icon--clock"></span>{{runningOrRan}} for {{totalRunningTime}}
        </li>
        <li>
          <span class="icon icon--cal"></span>{{timeStartedAgo}} ago
        </li>
      </ul>
      <div style="display: {{showCancel}}">
        <div id="actions" class="repo-main-tools">
          <div>
            <a href="/cancelBuild/{{repoName}}/{{buildId}}" class="button-cancel" title="Cancel Run">
            <span class="icon icon--trigger"></span>
            </a>
          </div>
        </div>
      </div>

      <div style="display: {{showRetry}}">
        <div id="actions" class="repo-main-tools">
          <div>
            <a href="/redoBuild/{{repoName}}/{{buildId}}" class="button-circle" title="Restart Run">
            <span class="icon icon--trigger"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="runData">
  {{>runsBootstrap}}
  </div>

  </div>
</div>
